<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Habitica Rewards</title>
</head>

<body>
    <form action="/clear" method="post">
        <h2>Confirm Clear History</h2>
        <p>To confirm, type the word 'DELETE' and enter your password:</p>

        <label for="confirm_word">Confirmation Word:</label>
        <input type="text" id="confirm_word" name="confirm_word" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <button type="submit">Clear History</button>
    </form>
</body>