<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Habitica Rewards</title>
</head>

<body>
    <form action="/clear" method="post">
        <h2>Confirm Clear History</h2>
        <p>Are you sure you want to clear the current reward history? This cannot be undone.</p>
        <p>To confirm, type your password:</p>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        {% if error %}
        <p>{{ error }}</p>
        {% endif %}

        <button type="submit">Clear History</button>
    </form>
</body>